<div class="checkout-container">
        <div class="item-table">
            <mat-card>
                <form [formGroup]="checkoutForm">
                    <div class="overflow-container">
                        <table>
                            <thead>
                                <tr>
                                    <th id="item">Item</th>
                                    <th id="note">Note</th>
                                    <th id="price">Price</th>
                                    <th id="quantity">Quantity</th>
                                </tr>
                            </thead>
                            <tbody formArrayName="items">
                                <tr *ngFor="let item of menuItems; let i = index" [formGroupName]="i">
                                    <td id="item">{{ item?.itemName }}</td>
                                    <td id="note">{{ item?.note }}</td>
                                    <td id="price">RM {{ item?.price }}</td>
                                    <td id="quantity">
                                        <mat-form-field>
                                            <mat-select formControlName="quantity" (selectionChange)="calculateTotalPrice()"
                                                (selectionChange)="updateSelectedItems()">
                                                <mat-option *ngFor="let quantity of getAvailableQuantities(item?.quantity)"
                                                    [value]="quantity">
                                                    {{ quantity }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
                <h4>Total Price: RM {{ totalPrice }}</h4>
                <p class="subtext">Please choose the desired quantities and proceed to checkout.</p>
                <button type="submit" mat-raised-button color="accent" (click)="onCheckout()" [disabled]="selectedItems.length == 0">Checkout</button>
            </mat-card>
        </div>
</div>