<body>
    <div class="search-section">
      <mat-card>
        <mat-card-content class="search-section-content">
          <div class="pageTitle">
            <img src="assets/resources/programTitle.png" alt="Discover upcoming program">
          </div>
          <div class="search-bar">
            <mat-form-field appearance="fill" fxFlex class="custom-fill">
              <input matInput placeholder="Search by program title.." [(ngModel)]="searchKey">
            </mat-form-field>
            <button mat-icon-button (click)="toggleFilterContainer()" [ngClass]="{'orange' : isFilter, 'white': !isFilter}">
                <mat-icon>filter_list</mat-icon>
            </button>
          </div>
          <div class ="filter-container" *ngIf="isFilter">
            <button mat-raised-button (click)="toggleButton('Career')" [ngClass]="{'active': filterCategory === 'Career'}">Career</button>
            <button mat-raised-button (click)="toggleButton('Award')" [ngClass]="{'active': filterCategory === 'Award'}">Award</button>
            <button mat-raised-button (click)="toggleButton('Innovation')" [ngClass]="{'active': filterCategory === 'Innovation'}">Innovation</button>
            <button mat-raised-button (click)="toggleButton('Entrepreneurship')" [ngClass]="{'active': filterCategory === 'Entrepreneurship'}">Entrepreneurship</button>
            <button mat-raised-button (click)="toggleButton('Cultural')" [ngClass]="{'active': filterCategory === 'Cultural'}">Cultural</button>
            <button mat-raised-button (click)="toggleButton('Leadership')" [ngClass]="{'active': filterCategory === 'Leadership'}">Leadership</button>
            <button mat-raised-button (click)="toggleButton('Academic')" [ngClass]="{'active': filterCategory === 'Academic'}">Academic</button>
            <button mat-raised-button (click)="toggleButton('Volunteer')" [ngClass]="{'active': filterCategory === 'Volunteer'}">Volunteer</button>
            <button mat-raised-button (click)="toggleButton('Sport')" [ngClass]="{'active': filterCategory === 'Sport'}">Sport</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  
    <ng-container *ngIf="isAuthorized">
      <div class="add-item">
        <a mat-raised-button routerLinkActive="active-link" routerLink="/addprogram">
          Add new program
          <mat-icon color="accent">add_circle</mat-icon>
        </a>
      </div>
    </ng-container>
  
    <div class="content-container">
      <ng-container *ngIf="(programs | programQuery : searchKey : filterCategory) as results">
        <mat-card *ngFor="let program of results" [routerLink]="['/detailedprogram', program.programId]">
          <div class="image-wrapper">
            <img mat-card-image [src]="program?.image" class="custom-picture">
            <div class="postedby-background"></div>
            <div class="postedby">
              <div class="profile-picture">
                <div class="image-wrapper">
                  <img mat-card-image [src]="program.profileImage ? program.profileImage : defaultAvatar" class="custom-picture">
                </div>
              </div>
              <div class="username">{{program.createdBy}}</div>
            </div>
          </div>
          <mat-card-header>
            <mat-card-title>
              <a [routerLink]="['/detailedprogram', program.programId]">{{ program.programTitle | truncate: 4 }}</a>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p><mat-icon>calendar_today</mat-icon>{{ program.startDate | date:'dd/MM/yyyy' }} - {{ program.endDate | date:'dd/MM/yyyy' }}</p>
            <p><mat-icon>access_time</mat-icon>{{ program.startTime }} - {{ program.endTime }}</p>
            <p><mat-icon> location_on</mat-icon>{{ program.location }}</p>
            <div id="datePublished">Published on {{ program.datePublished | date:'d MMM, yyyy' }}</div>
          </mat-card-content>
        </mat-card>
        <p class="empty-results" *ngIf="results.length == 0">No program found</p>
      </ng-container>
    </div>
  </body>
  