<body>
    <h2>Update program post</h2>
    <div class="update-form">
        <form [formGroup]="programForm">
            <div class="upper-section">
                <!-- Title -->
                <p>
                    <mat-form-field appearance="fill" fxFlex class="custom-fill">
                        <mat-label>Title</mat-label>
                        <mat-icon matPrefix>title</mat-icon>
                        <input matInput formControlName="programTitle" required>
                    </mat-form-field>
                </p>
                <!-- Location -->
                <p>
                    <mat-form-field appearance="fill" fxFlex class="custom-fill">
                        <mat-label>Location</mat-label>
                        <mat-icon matPrefix>place</mat-icon>
                        <input matInput formControlName="location" required>
                    </mat-form-field>
                </p>
                <!-- Date range -->
                <p>
                    <mat-form-field appearance="fill" fxFlex class="custom-fill">
                        <mat-label>Date range</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate placeholder="Start date" formControlName="startDate" readonly>
                            <input matEndDate placeholder="End date" formControlName="endDate" readonly>
                        </mat-date-range-input>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </p>
                <!-- Time range -->
                <p>
                    <mat-form-field appearance="fill" fxFlex class="custom-fill">
                        <mat-label>Start time</mat-label>
                        <mat-icon matPrefix>access_time</mat-icon>
                        <input matInput type="time" formControlName="startTime" required>
                    </mat-form-field>
                    <span id="time"> - </span>
                    <mat-form-field appearance="fill" fxFlex class="custom-fill">
                        <mat-label>End time</mat-label>
                        <input matInput type="time" formControlName="endTime" required>
                        <mat-error *ngIf="programForm.controls.endTime.errors?.['timeRangeValidator']">Please check the time range!</mat-error>
                    </mat-form-field>
                </p>
                <!-- Contact name -->
                <p>
                    <mat-form-field appearance="fill" fxFlex class="custom-fill">
                        <mat-label>Contact name</mat-label>
                        <mat-icon matPrefix>person</mat-icon>
                        <input matInput formControlName="telName" required>
                    </mat-form-field>
                </p>
                <!-- Contact number -->
                <p>
                    <mat-form-field appearance="fill" fxFlex class="custom-fill">
                        <mat-label>Contact number</mat-label>
                        <mat-icon matPrefix>call</mat-icon>
                        <input matInput formControlName="telNo" required>
                        <mat-error *ngIf="programForm.controls.telNo.touched && programForm.controls.telNo.invalid">
                            <span *ngIf="programForm.controls.telNo.errors.pattern">Contact number is invalid</span>
                        </mat-error>
                    </mat-form-field>
                </p>
                <!-- Accept registration -->
                <p><mat-slide-toggle formControlName="acceptRegistration" labelPosition="before">Accept Registration</mat-slide-toggle></p>
            </div>
            <div class="lower-section">
                <!-- Upload photo -->
                <div class="image-section">
                    <div class="image-wrapper">
                        <img [src]="imagePath" alt="Program image">
                    </div>
                    <div class="image-upload">
                        <p>
                            <label class="form-label" for="customFile">Upload a photo</label>
                            <input type="file" formControlName="image" (change)="onImageSelected($event)" class="form-control" accept=".png, .jpg"/> <!-- formControlName="image" -->
                        </p>
                    </div>
                </div>
                <div id="spacer"></div>
                <!-- Description -->
                <p>
                    <mat-form-field appearance="fill" fxFlex class="custom-fill">
                        <mat-label>Description</mat-label>
                        <mat-icon matPrefix>receipt</mat-icon>
                        <textarea matInput formControlName="description" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="9" cdkAutosizeMaxRows="9" maxlength="500"></textarea>
                    </mat-form-field>
                </p>
                <!-- Program category -->
                <p>
                    <mat-form-field appearance="fill" fxFlex class="custom-fill">
                        <mat-label>Choose the program category</mat-label>
                        <mat-select formControlName="tag" required>
                            <mat-option value="">--</mat-option>
                            <mat-option value="Career">Career</mat-option>
                            <mat-option value="Award">Award</mat-option>
                            <mat-option value="Innovation">Innovation</mat-option>
                            <mat-option value="Entrepreneurship">Entrepreneurship</mat-option>
                            <mat-option value="Cultural">Cultural</mat-option>
                            <mat-option value="Leadership">Leadership</mat-option>
                            <mat-option value="Academic">Academic</mat-option>
                            <mat-option value="Volunteer">Volunteer</mat-option>
                            <mat-option value="Sport">Sport</mat-option>
                        </mat-select>
                    </mat-form-field>
                </p>
            </div>
        </form>
    </div>
    <div class="button-section">
        <button mat-raised-button routerLinkActive routerLink="/profile">Cancel</button>
        <button mat-raised-button [disabled]="!(programForm.valid && programForm.dirty)" (click)="updateProgram()" class="custom-button">Submit</button>
        <br><br>
    </div>
</body>