@import '../../styles.scss';

body {
    margin: 0;
    padding: 20px;
    color: white;
    width: 100%;
    min-height: 100vh;
    background-color: #1D203E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-form {
    width: 100%;
    height: 100%;
    max-width: 1140px;
    display: flex;
    justify-content: center;

    form {
        width: 1140px;
        border-radius: 15px;
        padding: 10px;
        margin-bottom: 20px;
        background-color: #1E1E1E;
        color: white;

        .form-container {
            display: flex;
            flex-direction: column;

            .details-section {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .upper-section {
                    // background-color: red;
                    width: 49%;

                    .buying-section {
                        margin-bottom: 30px;
                    }
                }
            
                .lower-section {
                    // background-color: blue;
                    width: 49%;
            
                    .form-label{
                        margin: 0px;
                    }
                    .form-control {
                        height: 32px;
                    }
            
                    .image-section {
                        display: flex;
                        gap: 20px;
                        width: 100%;
                        height: 150px;
            
                        .image-wrapper {
                            width: 40%;
                            background-color: rgba(255, 255, 255, 0.644);
                
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: scale-down;
                            }
                        }
            
                        .image-upload {
                            width: 60%;
                            display: flex;
                            align-items: center;
                        
                            p {
                              margin-bottom: 0;
                            }
                        }
                    }
            
                    #spacer {
                        height: 42px;
                    }
                }
            
                mat-icon {
                    color: black;
                }
            }
        }

        .menu-list {
            width: 100%;
            max-width: 1140px;

            .item-row-content {
                display: flex;
                gap: 10px;
                width: 100%;
                height: auto;
            }
    
            .mat-mdc-raised-button {
                display: flex;                                                                                              // Change button color
                
                margin-top: 20px;

                &:hover {
                    transition: transform 0.3s;
                    transform: scale(1.01);
                }
            } 
        }
    }

    @media screen and (max-width: 1192px) {
        form {
          max-width: 760px;
        }
    }
    
    @media screen and (max-width: 810px) {
        form {
            margin: 10px;
            max-width: 340px;

            .form-container {
                display: flex;
                flex-direction: column;
                
                .details-section {
                    display: flex;
                    flex-direction: column;
    
                    .upper-section, .lower-section {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.button-section {
    width: 100%;
    height: 100%;
    max-width: 1140px;
    display: flex;
    justify-content: flex-end;

    button {
        margin: 0px 5px 0px 5px;
    }

    .custom-button {
        &.mat-mdc-raised-button {                                                                                              // Change button color
            background-color: map-get($custom-accent-pallette, 500) !important; 
            color: black !important;
            font-weight: bolder !important;
            width: 130px !important;
        }
        
        &.mat-mdc-raised-button[disabled]{                                                                                     // Change button color when disabled
            background-color: rgb(202, 202, 202) !important;
            color: rgba(24, 19, 19, 0.12) !important;
            font-weight: bolder;
            width: 130px !important;
        }
    }

    @media screen and (max-width: 1192px) {
        max-width: 760px;
    }

    @media screen and (max-width: 810px) {
        max-width: 340px;
    }
}

::ng-deep .mat-mdc-radio-button .mdc-form-field {
    color: white !important;
}

::ng-deep .mat-mdc-radio-button.mat-accent {
    --mdc-radio-disabled-selected-icon-color: white !important;
    --mdc-radio-disabled-unselected-icon-color: white !important;
    --mdc-radio-unselected-hover-icon-color: white !important;
    --mdc-radio-unselected-icon-color: white !important;
    --mdc-radio-unselected-pressed-icon-color: white !important;
    --mdc-radio-selected-focus-icon-color: white !important;
    --mdc-radio-selected-hover-icon-color: white !important;
    --mdc-radio-selected-icon-color:white !important;
    --mdc-radio-selected-pressed-icon-color: white !important;
    --mat-radio-ripple-color: white !important;
    --mat-radio-checked-ripple-color: white !important;
    --mat-radio-disabled-label-color: white !important;
}

::ng-deep .mat-mdc-slide-toggle .mdc-form-field{
    color: white !important;
}